* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root {
    --escuro: #1F1F1F;
    --primaria: #D9D0C7;
    --segundaria: #C68C53;
    --segundaria-claro: #D9A676;
    --claro: #ffffff;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: 100vh;
    color: var(--claro);
    background-color: var(--escuro);
    padding-top: 140px;
    overflow-x: hidden;
}

header {
    background-color: var(--segundaria);
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.back{
    position: absolute;
    top: 25px;
    left: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s ease;
}

.back:hover{
    transform: scale(1.3);
}

main{
    height: 80%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main h1{
    text-align: center;
}

.cards-container {
    width: 100%;
    padding: 20px 40px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
}

.card {
    background: var(--escuro);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    transition: 0.2s ease;
}

.card-info h3 {
    font-size: 18px;
    margin-bottom: 4px;
    text-align: left;
    width: 100%;
}

.categoria {
    font-size: 14px;
    color: var(--claro);
    text-align: left;
    width: 100%;
}

.botao {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

button {
    width: 200px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 22px;
    border-radius: 8px;
    border: none;
    background-color: var(--segundaria);
    color: white;
    cursor: pointer;
    transition: .3s ease;
}

button:hover {
    background-color: var(--segundaria-claro);
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(217, 166, 118, 0.6);
}

@media (max-width: 768px) {
    header {
        height: 70px;
    }

    header h1 {
        font-size: 20px;
    }

    .back {
        width: 26px;
        height: 26px;
        left: 12px;
    }

    main {
        padding-top: 100px;
    }

    main h1 {
        font-size: 22px;
        margin-top: 10px;
    }

    .cards-container {
        padding: 10px 20px;
    }

    .cards {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card {
        padding: 12px;
    }

    .card-info h3 {
        font-size: 16px;
    }

    .categoria {
        font-size: 12px;
    }

    .botao {
        margin-top: 20px;
    }

    .botao a {
        font-size: 20px;
        padding: 15px;
    }
}

@media (max-width: 480px) {

    header h1 {
        font-size: 18px;
    }

    .back {
        width: 24px;
        height: 24px;
        left: 10px;
    }

    main {
        padding-top: 90px;
    }

    main h1 {
        font-size: 20px;
    }

    .cards-container {
        padding: 10px 15px;
    }

    .card {
        padding: 10px;
        border-radius: 12px;
    }

    .botao a {
        width: 80%;
        font-size: 18px;
        padding: 12px;
        text-align: center;
    }
}