body {
    background-image: url(../../img/hamburguer_fundo_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    overflow:hidden;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
    overflow: hidden;
    margin-top: 100px;
}

.text p {
    margin: 0 0 50px 0;
    font-size: 30px;
    font-weight: bold;
}

.text .descricao p{
    margin: 0;
    font-size: 20px;
}

.text .descricao p:nth-child(1){
    text-align: center;
}

.botao {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

a {
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    border-radius: 8px;
    box-shadow: 3px 3px 15px white;
    border: none;
    background-color: #C68C53;
    color: white;
    box-shadow: 0 0 15px rgba(131, 81, 41, 0.5);
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}

a:hover {
    background-color: #D9A676;
    transform: scale(1.03);
    transition: 0.5 ease;
}

@media(max-width: 480px) {
    .head {
        height: 30vh;
    }

    .logo {
        width: 100px;
    }

    .text {
        text-align: center;
        margin-top: 3vh;
    }

    .button {
        margin-top: 3vh;
    }
}

@media(max-width: 768px) {
    .head {
        height: 300px;
    }

    .logo {
        width: 100px;
    }

    .text {
        margin-top: 50px;
        font-size: 18px;
    }

    button {
        width: 200px;
        height: 60px;
        font-size: 18px;
    }
}